#404 {
    background-color: antiquewhite;
    padding-right: 50px;
    padding-left: 50px;
}
#404home {
    border: 2px;
    border-color: darkgray;
    background-color: bisque;
    orientation: center;
}