div#404home {
    border: 2px;
    border-color: black;
    background-color: bisque;
}
img#404 {
    image-orientation: 45deg;
}
#profile{
    
}
#intro{
    position: relative;
    object-position: right;
}
#repositories{
    background-color:aqua;
    
}
#repositories:hover{
    background-color:hsl(2, 5%, 74%);
}
