#repositories{
    background-color:aqua;
    font: bold 11px Arial;
    text-decoration: none;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}
.games{
    background-color:black;
    font: bold 11px Arial;
    text-decoration: none;
    color: white;
    padding-left: 0.5%;
    padding-right: 0.5%;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    font-size: 130%;
}

.games:hover{
    background-color: chartreuse;
    color: black;
}
    
#repositories:hover{
    background-color:hsl(2, 5%, 74%);
}
#text-area{
    margin-left: 25%;
    margin-right: 25%;
}

#profile{
    max-width: 12%;
    height: auto;
    padding-top: 1%;
    position: relative;
}

div#top-side{
    position: absolute;
    top:0%;
    left:13%;

}
div.nav-bar{
    position: relative;
    left:initial;
    top: 10%;
}
div.nav-bar>a{
    position: static;
    background-color:black;
    font: bold 11px Arial;
    text-decoration: none;
    color: white;
    padding-left: 0.5%;
    padding-right: 0.5%;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    font-size: 130%;
}

h1{
    position: relative;
    top: 0%;
}