div#404home {
    border: 2px;
    border-color: black;
    background-color: bisque;
}
img#404 {
    image-orientation: 45deg;
}
#profile{
    
}
#intro{
    position: relative;
    object-position: right;
}
#repositories{
    background-color:aqua;
    font: bold 11px Arial;
    text-decoration: none;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}
.games{
    background-color:black;
    font: bold 11px Arial;
    text-decoration: none;
    color: white;
    padding-left: 0.5%;
    padding-right: 0.5%;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    font-size: 130%;
}

.games:hover{
    background-color: chartreuse;
    color: black;
}
    
#repositories:hover{
    background-color:hsl(2, 5%, 74%);
}
#text-area{
    margin-left: 25%;
    margin-right: 25%;
}
#heading{
    margin-left: 12%;

}

div.nav-bar>a{
    background-color:black;
    font: bold 11px Arial;
    text-decoration: none;
    color: white;
    padding-left: 0.5%;
    padding-right: 0.5%;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    font-size: 130%;
}
